PORT=3000

DATABASE_URL="postgresql://postgres:parol@localhost:5432/kino_sayt?schema=public"

JWT_SECRET="samanceek_16"
JWT_ACCESS_EXPIRES="30m"
JWT_REFRESH_EXPIRES="7d"

SUPERADMIN_EMAIL="sardorovsamandar@kinolar.uz"
SUPERADMIN_PASSWORD="sardorov010"
